/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*animation element sliding right*/

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(200px, 0px, 0px);
  -webkit-transform: translate3d(200px, 0px, 0px);
  -o-transform: translate(200px, 0px);
  -ms-transform: translate(200px, 0px);
  transform: translate3d(200px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* Elements*/
body {
  background-color: black;
  color: white;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/*Headings*/
h1,
h2 {
  font-family: "Philosopher", sans-serif;
}
h1 {
  font-size: 5rem;
  margin-left: 5%;
}
h2 {
  font-size: 3rem;
  margin: 5% 0 10%;
}
h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
h4 {
  font-size: 4vw;
  margin-left: 5%;
}
.background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
/* Left-aligned Sections*/
.left-section{
    padding: 5%;
    margin: 5% 5% 0 0;
}




/*Right-aligned Sections*/
.right-section {
    margin: 5% 0 0 5%;
}
/*Navbar*/
.custom-nav {
  background-color: #1e2629;
}

/* Banner*/

#header {
  background-image: url("/verus/assets/1.jpg");
  margin-left: 5%;
}
hr {
  border: solid;
  border-width: 5px;
  width: 140%;
  position: relative;
  right: 50%;
  border-color: #a59385;
}

.header-col {
  margin: 10% 5%;
}

.btn {
  margin: 10%;
  padding: 10px;
}

/*How I Can Help You*/

#help {
  background-image: url("/verus/assets/7.jpg"); 
  
}

.help-col {
  border: solid;
  border-color: #a59385;
  border-width: 1rem;
  background-color: #1e2629;
  padding: 5%;
  
}
.help-list {
  margin-left: 10%;
}
/*About Verus Chambers*/

#about {
  background-image: url("/verus/assets/2.jpg");
  
}

.about-col {
  padding: 7%;
  margin: 10% 0 10% 10%;
  background-color: #1e2629;
  border: solid;
  border-width: 1rem;
  border-color: #a59385;
}

/*Meet Maria*/

#team {
  background-color: black;
  
}

.photo-col {
  padding: 7%;
  text-align: center;
  background-color: #1e2629;
}

.bio-photo {
  border-radius: 100%;
  width: 250px;
  margin: auto;
  margin-top: 15%;
}

.bio-col {
  padding: 7%;
  background-color: black;
}

/*Contact Us*/
#contact {
  background-color: #1e2629;
  padding-bottom: 5%;
}
.contact-heading {
  margin-bottom: 10%;
}
.form-col {
  padding-left: 5%;
  margin-top: 7%;
}
label, .form-control {
  margin-bottom: 1.5rem;
}
.textarea {
  width: 100%;
  padding: 2%;
}

.submit-form {
  margin: 5% auto 0;
}
.map-col {
  padding: 5%;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 400px;
  margin-bottom: 16%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 400px;
}
.email-link {
  text-decoration: none;
  color: #a59385;
}

.email-link:hover {
  text-decoration: underline;
  color: #a59385;
}

/*Footer*/
#footer {
  
  text-align: center;
}
.copyright {
  color: #a59385;
  padding: 2%;
  margin: 5% 0 5% 0;
}
.footer-link, .footer-link:hover {
  color: white;
  text-decoration: none;

}

/*Responsive Features*/

@media (max-width: 992px) {
  .map-col {
    text-align: center;
  }
  .mapouter {
    margin: auto;
    margin-bottom: 10%;
  }
  hr{
    display: none;
  }
 h1 {
   max-width: 50%;
 }
}

@media (max-width: 768px) {
  #help,
  #about,
  #team,
  #contact {
    margin: 0;
    background-image: none;
    background-color: black;
    text-align: center;
    padding:0;
  }

  #header {
    margin-left: 0;
  }

  .about-col {
    margin: 5% 0;
    padding: 15%;
    border: none;
  }

  .help-col {
    margin: 10% 0;
    border: none;
    background-color: black;
  }
  .bio-col {
    padding: 15%;
    margin-top: 10%;
  }
  ul {
    text-align: left;
    margin-left: 20%;
  }
  h3 {
    margin-bottom: 5%;
    text-align: left;
    margin-left: 20%;
  }
}
