/* Site wide*/
body {
  font-family: "Fira Sans", sans-serif;
}

h1,
h2 {
  font-family: "Fredericka the Great", cursive;
}

h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}

.light-section {
  color: #2b2b28;
  background-color: #f1d6ab;
}
.dark-section {
  color: #f8f8f8;
  background-color: #2b2b28;
}
/* Nav Bar*/

.custom-nav {
  background-color: #2b2b28;
}

/* Banner */
.banner-row {
  background-image: url("/assets/img/banner.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading-col {
  margin: 30% 10% 10%;
}
.banner-heading {
  font-size: 5rem;
  color: #f8f8f8;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

/*My Work Section*/
.work-heading {
  margin-bottom: 5%;
  margin-right: 15%;
  font-size: 3rem;
  text-align: right;
}
.work-section {
  padding: 5% 10%;
}
.large-row {
  width: 100%;
}

/*About Me Section*/
.about-heading {
  font-size: 3.5rem;
}

.about-section {
  padding: 5% 10%;
  background-image: url(/assets/img/brush.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.my-photo {
 
  width: 300px;
  margin: auto;
  padding: 10%;
}
.photo-col {
  text-align: center;
}

.about-col {
  margin: 15% 0 0;
}

.cta {
  margin: 10% 0;
}

/* Contact Section*/

label {
  margin-bottom: 1.5rem;
}

.contact-heading {
  margin: 0 15% 5% 0;
  font-size: 3rem;
  text-align: right;
}
.contact-section {
  padding: 5% 10%;
}
.textarea {
  width: 100%;
}
.submit-form {
  margin: 5% auto;
}

.form-control {
  margin-bottom: 1.5rem;
}

/*Footer Section*/

.footer-section {
  text-align: center;
  padding: 5%;
}
.fa-foot {
  padding: 15px;
}

/*Responsive features*/

@media (max-width: 766px) {
  .work-heading {
    text-align: center;
    margin: 5% 0 10%;
  }
  .about-heading {
    margin: 5% 0 0;
    text-align: center;
  }
  .about-col {
    text-align: center;
    margin: 0%;
  }
  .contact-heading {
    text-align: center;
    margin: 5% 0;
  }
}
