/* Site wide*/
body {
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-family: "Fredericka the Great", cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}
h2 {
  font-size: 4rem;
}
.light-section {
  color: #2b2b28;
  background-color: #f1d6ab;
  padding: 5% 10%;
}
.dark-section {
  color: #f8f8f8;
  background-color: #2b2b28;
  padding: 5% 10%;
}

/* Nav Bar*/

.custom-nav {
  background-color: #2b2b28;
}

/* Banner */
.banner-row {
  background-image: url("/assets/img/banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading-col {
  margin: 30% 10% 10%;
   color: #f8f8f8;
}
.banner-heading {
  font-size: 5.5rem;
}
.banner-subheading {
 font-size: 1.2rem;
 margin-left: 1rem;
}


/*My Work Section*/
.work-heading {
  margin-bottom: 7%;
  margin-right: 5%;
  text-align: right;
  color: #e3b04b;
}

.large-row {
  width: 100%;
}
.card-heading{
  color: #e3b04b;
}
.card-links {
  color: #e3b04b;
}
.card-links:hover {
  text-decoration: none;
  color: #e59c4f;
}


/*About Me Section*/

.about-section {
  background-image: url(/assets/img/brush.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.my-photo {
  width: 300px;
  margin: auto;
  padding: 10%;
}
.photo-col {
  text-align: center;
}
.about-col {
  margin: 15% 0 0;
  font-size: 1rem;
  line-height: 1.5;
}

.cta {
  margin: 10% 0;
}


/* Contact Section*/

label {
  margin-bottom: 1.5rem;
  color: #e3b04b;
}

.contact-heading {
  margin: 0 15% 5% 0;
  text-align: right;
  color: #e3b04b;
}

.textarea {
  width: 100%;
  padding: 2%;
  
}
.submit-form {
  margin: 5% auto;
  padding: 2%;
}

.form-control {
  margin-bottom: 1.5rem;
}

/*Footer Section*/

.footer-section {
  text-align: center;
  padding: 5%;
}
.fa-foot {
  padding: 15px;
  color: #2b2b28;
}
.fa-foot:hover {
  text-decoration: none;
  color: #e59c4f;
}

/*Responsive features*/

@media (max-width: 766px) {
 
  .work-heading {
    text-align: center;
    margin: 5% 0 10%;
  }
  .about-heading {
    margin: 5% 0 0;
    text-align: center;
  }
  .about-col {
    text-align: center;
    margin: 0%;
  }
  .contact-heading {
    text-align: center;
    margin: 5% 0;
  }
}
