/* Site wide*/
body {
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-family: "Fredericka the Great", cursive;
}

h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}
h2 {
  font-size: 3.5rem;
  font-family: "Yeseva One", cursive;
}
.light-section {
  color: #2b2b28;
  background-color: #f1d6ab;
  padding: 5% 10%;
}
.dark-section {
  color: #f8f8f8;
  background-color: #2b2b28;
  padding: 5% 10%;
}

/* Nav Bar*/

.custom-nav {
  background-color: #2b2b28;
}

/* Banner */
.banner-row {
  background-image: url("/assets/img/banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 620px;
}
.heading-col {
  margin: 30% 10% 10%;
  color: #f8f8f8;
}
.banner-heading {
  font-size: 6rem;
}
.banner-subheading {
  margin-left: 1%;
  font-size: 1.2rem;
}

.btn {
  margin: 10% 3% 5% 5px;
}

/*My Work Section*/
.work-heading {
  margin: 0 0 7% 0;
  color: #e3b04b;
}

.card-heading {
  color: #e3b04b;
}
.card-links {
  color: #e3b04b;
}
.card-links:hover {
  text-decoration: none;
  color: #e59c4f;
}

/*About Me Section*/

.about-section {
  background-image: url(/assets/img/brush.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.my-photo {
  width: 300px;
  padding: 10%;
}

.about-col {
  margin-top: 15%;
  font-size: 1rem;
  line-height: 1.5;
}


/* Contact Section*/

label {
  margin-bottom: 1.5rem;
  color: #e3b04b;
}

.contact-heading {
  margin-bottom: 5% 0;
  color: #e3b04b;
}

.textarea {
  width: 100%;
  padding: 2%;
}
.submit-form {
  margin: 5% auto;
  padding: 2%;
}

.form-control {
  margin-bottom: 1.5rem;
}

/*Footer Section*/

.footer-section {
  text-align: center;
  padding: 5%;
}
.fa-foot {
  padding: 15px;
  color: #2b2b28;
}
.fa-foot:hover {
  text-decoration: none;
  color: #e59c4f;
}

/* Resume*/
.resume-about {
  width: 50%;
  margin: 5% 20% 5% 5%;
}

/* MDI*/
.mdi::before {
  font-size: 24px;
  line-height: 14px;
}
.btn .mdi::before {
  position: relative;
  top: 4px;
}
.btn-xs .mdi::before {
  font-size: 18px;
  top: 3px;
}
.btn-sm .mdi::before {
  font-size: 18px;
  top: 3px;
}
.dropdown-menu .mdi {
  width: 18px;
}
.dropdown-menu .mdi::before {
  position: relative;
  top: 4px;
  left: -8px;
}
.nav .mdi::before {
  position: relative;
  top: 4px;
}
.navbar .navbar-toggle .mdi::before {
  position: relative;
  top: 4px;
  color: #FFF;
}
.breadcrumb .mdi::before {
  position: relative;
  top: 4px;
}
.breadcrumb a:hover {
  text-decoration: none;
}
.breadcrumb a:hover span {
  text-decoration: underline;
}
.alert .mdi::before {
  position: relative;
  top: 4px;
  margin-right: 2px;
}
.input-group-addon .mdi::before {
  position: relative;
  top: 3px;
}
.navbar-brand .mdi::before {
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.list-group-item .mdi::before {
  position: relative;
  top: 3px;
  left: -3px
}
/*Responsive features*/

@media (max-width: 766px) {
  .work-heading {
    margin: 5% 0 10%;
  }
  .about-heading {
    margin: 5% 0 0;
  }
  .about-col {
    margin: 0%;
  }
  .contact-heading {
    margin: 5% 0;
  }
  .my-photo {
    margin: 0% 15%;
  }
}


