/*Common Elements*/
body {
  background-color: #f8f8f8;
  color: #2b2b28;
  margin: 0px;
  font-family: "Fira Sans", sans-serif;
}
.title {
  margin: 5% auto;
}
section {
  width: 50%;
  margin: auto;
}
section a {
  color: #e38b4b;
  font-weight: bold;
}
section a:hover {
  color: #e3b04b;
  text-decoration: none;
}

/*Heading*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 5% 0;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 3% 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 3% 0;
}

h4 {
  font-size: 1.5rem;
  margin: 1% 0;
}

/*Images*/

.gif {
  width: 100%;
  margin: 5% 0;
  text-align: center;
}

img {
  width: 100%;
  margin: 5% auto;
}

/*Navbar*/

.custom-nav {
  background-color: #2b2b28;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

/*Alerts*/

.info-alert {
  border-color: #007bff;
}
.info-alert:before {
  content: url(/assets/img/info.svg);
}
.tip-alert {
  border-color: #42b983;
}
.tip-alert:before{
  content: url(/assets/img/tip.svg);
}
.warning-alert {
  border-color: #f4cd00;
}
.warning-alert:before {
  content: url(/assets/img/warning.svg);
}
.danger-alert {
  border-color: #f66;
}
.danger-alert:before {
  content: url(/assets/img/danger.svg);
  
}
.custom-alert {
  background-color: #e5e5e5;
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  margin: 1rem 0;
}
.custom-alert:before {
  
  width: 25px;
  height: 25px;
  left: -16px;
  box-sizing: border-box;
  position: absolute;
  top: 19px;
}
@media (max-width: 766px) {
  section {
    width: 70%;
  }
}
